<!--{% extends 'base.html' %}-->
<!--{% load static %}-->
<!--{% block content %}-->
<!--<div class="p-3">-->
<!--<form method="post" enctype="multipart/form-data">-->
<!--<div class="mb-3">-->
<!--  <label class="form-label">Name</label>-->
<!--  <input type="text" class="form-control" name="n" placeholder="enter name">-->
<!--</div>-->
<!--<div class="mb-3">-->
<!--  <label class="form-label">Description</label>-->
<!--  <input type="text" class="form-control" name="d" placeholder="enter movie description">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--  <label class="form-label">Year</label>-->
<!--  <input type="number" class="form-control" name="y" placeholder="enter year">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--        {% csrf_token %}-->
<!--  <label class="form-label">Image</label>-->
<!--  <input type="file" class="form-control" name="i" placeholder="upload image">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--  <input type="submit" class="btn btn-success">-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--{% endblock %}-->